* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    size: 14px;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 13%;
    margin-left: auto;
    padding-top: 10px;
}

nav a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
}

nav img {
    height: 20px;
}

main {
    margin: auto;
    width: 50%;
    height: 40%;
    text-align: center;
    position: relative;
}

main img {
    justify-content: center;
    margin-top: 13%;
    height: 90px;
}

input {
    width: 80%;
    padding: 1em;
    margin: 15px;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
}

.btn-container {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    border: none;
}

button {
    padding: 10px;
    margin: 15px;
    border-style: none;
    background-color: #f8f9fa;
    border-radius: 3px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
}

main a {
    text-decoration: none;
    color: rgb(6, 31, 173);
    margin: 5px;
}

main a:hover {
    text-decoration: underline;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 0;
    height: 12%;
    background-color: #f2f2f2;
    color: rgb(95, 95, 95);
    font-family: Arial, sans-serif;
    size: 14px;
}

.country {
    height: 40px;
    border-bottom: solid rgb(185, 185, 185) 1px;
    padding: 5px;
}

.country p {
    padding: 5px;
    text-align: left;
    margin-left: 20px;
}

.services {
    height: 20px;
    margin: 0;
    padding: 12px;
    display: flex;
}

.services a {
    text-decoration: none;
    color: inherit;
    justify-content: space-around;
    padding: 13px;
}

footer p {
    font-family: Arial, sans-serif;
    size: 14px;
}

#right {
    margin-right: 20px;
    float: right;
    padding: 0;
    margin-left: auto;
}

#left {
    margin-left: 20px;
    padding: 0;
    float: left;
    margin-right: auto;
}

.carbon {
    text-align: center;
}

.carbon img {
    height: 12px;
    text-align: center;
    margin-left: -200px;
}


/*.searx {
    width: 80%;
}*/

.searx {
    position: relative;
}

.mic img {
    position: absolute;
    height: 25px;
    bottom: 25px;
    right: 13%;
}

.search img {
    position: absolute;
    height: 25px;
    bottom: 25px;
    left: 13%;
}